html, body {
  /* background-color: #dde0d9; */
  background-color: #bebebe;
  /* overflow: hidden; */
}

body {
  padding: 25px;
}

img {
  width: 100%;
}

.text-col {
  max-width: 600px;
}

.container {
  max-width: fit-content;
}

/* 'lg': '1024px', */
@media (min-width: 1024px) {
  .container {
    /* margin-right: 150px; */
    margin-left: 0px;
  }
}