@font-face {
    font-family: "Tex Gyre";
    src: local("Oxygen"),
     url(~assets/fonts/texgyreheroscn-regular.woff) format("woff");
}

html {
    font-family: 'Tex Gyre', sans-serif;
}

h1 {
    /* font-size: 3rem; */
    font-weight: 300;
}

h1, .h1, p.large, .font-large {
    font-size: 2rem;
    font-weight: 400;
}

a {
    color: black;
    text-decoration: underline;
    font-size: 2rem;
    font-weight: 300;
}

a:hover {
    background-color: #00ff46;
}