html {
    font-family: serif;
}

h1 {
    /* font-size: 3rem; */
    font-weight: 300;
}

a {
    color: black;
    text-decoration: underline;
    font-size: 2rem;
    font-weight: 300;
}

a:hover {
    background-color: #00ff46;
}